<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}>
<head>
  <meta charset="UTF-8">

  <title>User List Management</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
  <div class="container-fluid">
    <div id="content" layout:fragment="content">
    </div>
    <div class="col-md-9">
      <table>
        <thead>
        <div class="row"><a href="">User management</a></div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
          To add a user
        </button>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 dropdown-menu" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-light">Remove</button>
          <button type="button" class="btn btn-light">to enable</button>
          <button type="button" class="btn btn-light">to disable</button>
          <button type="button" class="btn btn-light">to change the order of the user</button>
        </div>
        </thead>
        <tbody>
        <tr>
          <th class="text-center"><input type="checkbox"></th>
          <th class="text-center">State</th>
          <th class="text-center">username</th>
          <th class="text-center">name</th>
          <th class="text-center">Department name</th>
          <th class="text-center">Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e: ${listEmployee}">
          <td class="text-center"><input type="checkbox"></td>
          <td class="text-center" th:utext=""></td>
          <td class="text-center" th:utext="${e.loginName}"></td>
          <td class="text-center" th:utext="${e.firstName  + e.lastName}"></td>
          <td class="text-center" th:utext="${e.departmentName}"></td>
          <td class="text-center" th:utext=""></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>