<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{/layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User List Management</title>

</head>
<body>
<div layout:fragment="content">

	<div class="w-100">
		<!--		Search field-->
		<form class="form-inline"
		      method="get"
		      th:action="@{/user/search}">
			<input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
			       aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

		<!--		Add new user-->
		<div class="my-3">
			<a class="btn btn-primary" th:href="@{/user/add}">Add New User</a>

		</div>

		<!--		Form-->
		<form method="get"
		      th:action="@{/user/feature-type/}"
		      id="form">

			<table class="table">
				<thead>
				<tr class="table-secondary">
					<th scope="col"></th>
					<th scope="col">State</th>
					<th scope="col">username</th>
					<th scope="col">Full Name</th>
					<th scope="col">Department Name</th>
					<th scope="col">Position</th>
				</tr>
				</thead>

				<tbody>
				<tr th:each="user :${users}">
					<th scope="row"><input type="checkbox" name="selectedUserIds" th:value="${user.userId}"></th>
					<td th:text="${user.disable eq false ? 'active' : 'inactive'}"></td>
					<td th:text="${user.loginName}"></td>
					<td th:text="${user.firstName + ' ' + user.lastName}"></td>
					<td th:text="${user.department.name}"></td>
					<td th:text="${user.position.name}"></td>
				</tr>
				</tbody>
			</table>

			<!--			Button submit-->
			<button class="btn btn-danger" id="btn-delete" type="submit" name="type" value="delete">Delete</button>

			<button class="btn btn-outline-dark" id="btn-disable" type="submit" name="type" value="disable">to Disable
			</button>

			<button class="btn  btn-outline-dark" id="btn-enable" type="submit" name="type" value="enable">to Enable
			</button>
		</form>


	</div>
</div>
</body>
</html>